.title{
  background-color: green;
  color: #fff;
  width: 400px;
  height: 100px;
  transition: all 1s linear;
  transform: scale(1) rotateZ(0deg);
  transform-origin: center center;
  animation: BS 2s linear infinite;
}

.w-600{
  /* width: 600px;
  height: 200px; */
  background-color: yellow;
  transform: rotateZ(90deg);
}

@keyframes BS {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(0.5);
  }
  50% {
    transform: scale(0.25);
  }
  75% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}