.container{
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  height: 100vh;
  font-size: 0.85rem;
}
#question{
  width: 200px;
}
.output{
  width: 100%;
  margin-top: 10px;
  min-height: 300px;
}