* {
  margin: 0;
  padding: 0;
}

body,
html {
  height: 100%;
}

.music {
  background-color: #2a2a2ad1;
  height: 100%;
}

.head {
  height: 76px;
  background-color: #161616;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
}

.back,
.more {
  width: 40px;
  height: 40px;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  text-align: center;
}

.name {
  font-family: Roboto, Roboto;
  font-weight: 500;
  font-size: 18px;
  color: #FFFFFF;
  line-height: 28px;
}

.author {
  font-family: Roboto, Roboto;
  font-weight: 400;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.8);
  line-height: 20px;
}

.main{
  padding: 20px 32px;
}
.logo{
  width: 311px;
  height: 311px;
  background-color: #fff;
  border-radius: 24px;
  overflow: hidden;
  display: flex;
  align-items: center;
}
.logo img{
  width: 100%;
}